In [1]:
import numpy as np;import pandas as pd

In [2]:
from mylogger import myLogger

In [3]:
class GroupDFSplitter(myLogger):
    def __init__(self,n_reps):
        myLogger.__init__(self)
        self.n_reps=n_reps
    def get_df_split(self,groups):
        if type(groups) is pd.Series:
            groups=pd.DataFrame(groups,columns=['group'])
        inferred_group_name=groups.columns.to_list()[0]
        idx_0=groups.index.values[0]
        group_names=groups.loc[:,inferred_group_name].unique().to_list()
        for gr
            
        
        
        print(inferred_group_name)
        n=groups.shape[0]
        num_groups=groups.value_counts(subset=inferred_group_name).min()
        print('num_groups: ',num_groups)
        for seed in range(self.n_reps):
            shuf_grp=groups.sample(frac=1,replace=False,random_state=seed)
            print('\n\n\n\nshuffle_group:\n',shuf_grp)
            grp=shuf_grp.groupby(by=inferred_group_name).ngroup()
            for i in range(num_groups):
                print(f'\n\n\nsplit {seed*num_groups+i}')
                
                grp_bool=grp!=pd.Series([i]*n,name=grp.name,index=grp.index)
                #grp_bool=grp.map(lambda x:x in selector)
                #idx=pd.Series(np.arange(grp.shape[0]),index=grp.index)
                #grp_bool,_=grp_bool.align(groups,axis=0)
                #_,grp_bool=groups.align(grp_bool,axis=0,join='outer')
                yield grp_bool
                #yield idx[grp_bool].to_numpy()

SyntaxError: invalid syntax (<ipython-input-3-e6ebe9293738>, line 11)

In [5]:
midx=pd.MultiIndex.from_tuples([(f'left index {i//8}',f'right index {i//4}') for i in range(32)],names=['first_idx','second_idx'])
df=pd.DataFrame(np.arange(128).reshape(32,4),columns=['a','b','c','d'],index=midx)#.reset_index()
group=pd.DataFrame(['A']*8+['B']*8+['C']*8+['D']*8,index=midx,columns=['cat'])
print('data:\n',df)
print('\n\ngrouping:\n',group)

data:
                               a    b    c    d
first_idx    second_idx
left index 0 right index 0    0    1    2    3
             right index 0    4    5    6    7
             right index 0    8    9   10   11
             right index 0   12   13   14   15
             right index 1   16   17   18   19
             right index 1   20   21   22   23
             right index 1   24   25   26   27
             right index 1   28   29   30   31
left index 1 right index 2   32   33   34   35
             right index 2   36   37   38   39
             right index 2   40   41   42   43
             right index 2   44   45   46   47
             right index 3   48   49   50   51
             right index 3   52   53   54   55
             right index 3   56   57   58   59
             right index 3   60   61   62   63
left index 2 right index 4   64   65   66   67
             right index 4   68   69   70   71
             right index 4   72   73   74   75
             right index 4   76   77   78   79
             right index 5   80   81   82   83
             right index 5   84   85   86   87
             right index 5   88   89   90   91
             right index 5   92   93   94   95
left index 3 right index 6   96   97   98   99
             right index 6  100  101  102  103
             right index 6  104  105  106  107
             right index 6  108  109  110  111
             right index 7  112  113  114  115
             right index 7  116  117  118  119
             right index 7  120  121  122  123
             right index 7  124  125  126  127


grouping:
                            cat
first_idx    second_idx
left index 0 right index 0   A
             right index 0   A
             right index 0   A
             right index 0   A
             right index 1   A
             right index 1   A
             right index 1   A
             right index 1   A
left index 1 right index 2   B
             right index 2   B
             right index 2   B
             right index 2   B
             right index 3   B
             right index 3   B
             right index 3   B
             right index 3   B
left index 2 right index 4   C
             right index 4   C
             right index 4   C
             right index 4   C
             right index 5   C
             right index 5   C
             right index 5   C
             right index 5   C
left index 3 right index 6   D
             right index 6   D
             right index 6   D
             right index 6   D
             right index 7   D
             right index 7   D
             right index 7   D
             right index 7   D

In [7]:

df.index.get_level_values('second_idx').unique().to_list()

['right index 0',
 'right index 1',
 'right index 2',
 'right index 3',
 'right index 4',
 'right index 5',
 'right index 6',
 'right index 7']

In [ ]:
(group.reset_index().groupby(['cat','second_idx']).cumcount()==0).astype(int).cumsum()

In [ ]:
for bool_idx in GroupDFSplitter(2).get_df_split(group):
    print(df[bool_idx])

In [4]:
df[bool_idx].index.unique(level='second_idx')

NameError: name 'df' is not defined

In [ ]:
assert False,'stop'

In [ ]:
print('original group\n',group)
for seed in range(2):
    shuf_grp=group.sample(frac=1,replace=False,random_state=seed)
    print('shuffled:\n',shuf_grp,'\n')
    for i in range(4):
        selector=list(range(4))
        selector.pop(i)
        print(f'drop {i}\n')
        grp=shuf_grp.groupby(by='cat').cumcount()
        #df_temp['group']=df_temp.groupby('e').cumcount()
        grp_bool=grp.map(lambda x:x in selector)
        df_i=df[grp_bool]
        print(df_i)
        n=group.shape[0]
        #print(df_temp[df_temp['group'].map(lambda x:x in selector)],'\n\n\n')

In [ ]:
"""for seed in range(2):
    df_temp=df.sample(frac=1,replace=False,random_state=seed)
    print('shuffled:\n',df_temp,'\n')
    for i in range(4):
        selector=list(range(4))
        selector.pop(i)
        print(f'drop {i}\n')
        df_temp['group']=df_temp.groupby('e').cumcount()
        print(df_temp[df_temp['group'].map(lambda x:x in selector)],'\n\n\n')"""

In [ ]:
df_g2=df_g.cumcount()
df_g2

In [ ]:
arr=np.asfortranarray(df.to_numpy)

In [ ]:
arr.flags['F_CONTIGUOUS']