In [1]:
import numpy as np;import pandas as pd

In [2]:
from mylogger import myLogger

In [3]:
class GroupDFSplitter(myLogger):
    def __init__(self,n_reps):
        myLogger.__init__(self)
        self.n_reps=n_reps
    def get_df_split(self,groups):
        if type(groups) is pd.Series:
            groups=pd.DataFrame(groups,columns=['group'])
        inferred_group_name=groups.columns.to_list()[0]
        print(inferred_group_name)
        num_groups=len(pd.unique(groups.loc[:,inferred_group_name].to_numpy()))
        for seed in range(self.n_reps):
            shuf_grp=groups.sample(frac=1,replace=False,random_state=seed)
            print('\n\n\n\nshuffle_group:\n',shuf_grp)
            for i in range(num_groups):
                print(f'\n\n\nsplit {seed*num_groups+i}')
                selector=list(range(num_groups))
                selector.pop(i)
                grp=shuf_grp.groupby(by=inferred_group_name).cumcount()
                n=grp.shape[0]
                grp_bool=grp!=pd.Series([i]*n,name=grp.name,index=grp.index)
                #grp_bool=grp.map(lambda x:x in selector)
                #idx=pd.Series(np.arange(grp.shape[0]),index=grp.index)
                yield grp_bool
                #yield idx[grp_bool].to_numpy()

In [4]:
midx=pd.MultiIndex.from_tuples([(f'left index {i//4}',f'right index {i}') for i in range(16)],names=['first_idx','second_idx'])
df=pd.DataFrame(np.arange(64).reshape(16,4),columns=['a','b','c','d'],index=midx)
group=pd.DataFrame(['A']*4+['B']*4+['C']*4+['D']*4,index=midx,columns=['cat'])
print('data:\n',df)
print('\n\ngrouping:\n',group)

data:
                               a   b   c   d
first_idx    second_idx
left index 0 right index 0    0   1   2   3
             right index 1    4   5   6   7
             right index 2    8   9  10  11
             right index 3   12  13  14  15
left index 1 right index 4   16  17  18  19
             right index 5   20  21  22  23
             right index 6   24  25  26  27
             right index 7   28  29  30  31
left index 2 right index 8   32  33  34  35
             right index 9   36  37  38  39
             right index 10  40  41  42  43
             right index 11  44  45  46  47
left index 3 right index 12  48  49  50  51
             right index 13  52  53  54  55
             right index 14  56  57  58  59
             right index 15  60  61  62  63


grouping:
                             cat
first_idx    second_idx
left index 0 right index 0    A
             right index 1    A
             right index 2    A
             right index 3    A
left index 1 right index 4    B
             right index 5    B
             right index 6    B
             right index 7    B
left index 2 right index 8    C
             right index 9    C
             right index 10   C
             right index 11   C
left index 3 right index 12   D
             right index 13   D
             right index 14   D
             right index 15   D

In [5]:
for bool_idx in GroupDFSplitter(2).get_df_split(group):
    print(df[bool_idx])

cat




shuffle_group:
                             cat
first_idx    second_idx
left index 0 right index 1    A
left index 1 right index 6    B
left index 2 right index 8    C
             right index 9    C
left index 3 right index 13   D
left index 1 right index 4    B
left index 0 right index 2    A
left index 3 right index 14   D
left index 2 right index 10   C
left index 1 right index 7    B
left index 3 right index 15   D
left index 2 right index 11   C
left index 0 right index 3    A
             right index 0    A
left index 1 right index 5    B
left index 3 right index 12   D



split 0
                              a   b   c   d
first_idx    second_idx
left index 0 right index 0    0   1   2   3
             right index 2    8   9  10  11
             right index 3   12  13  14  15
left index 1 right index 4   16  17  18  19
             right index 5   20  21  22  23
             right index 7   28  29  30  31
left index 2 right index 9   36  37  38  39
             right index 10  40  41  42  43
             right index 11  44  45  46  47
left index 3 right index 12  48  49  50  51
             right index 14  56  57  58  59
             right index 15  60  61  62  63



split 1
                              a   b   c   d
first_idx    second_idx
left index 0 right index 0    0   1   2   3
             right index 1    4   5   6   7
             right index 3   12  13  14  15
left index 1 right index 5   20  21  22  23
             right index 6   24  25  26  27
             right index 7   28  29  30  31
left index 2 right index 8   32  33  34  35
             right index 10  40  41  42  43
             right index 11  44  45  46  47
left index 3 right index 12  48  49  50  51
             right index 13  52  53  54  55
             right index 15  60  61  62  63



split 2
                              a   b   c   d
first_idx    second_idx
left index 0 right index 0    0   1   2   3
             right index 1    4   5   6   7
             right index 2    8   9  10  11
left index 1 right index 4   16  17  18  19
             right index 5   20  21  22  23
             right index 6   24  25  26  27
left index 2 right index 8   32  33  34  35
             right index 9   36  37  38  39
             right index 11  44  45  46  47
left index 3 right index 12  48  49  50  51
             right index 13  52  53  54  55
             right index 14  56  57  58  59



split 3
                              a   b   c   d
first_idx    second_idx
left index 0 right index 1    4   5   6   7
             right index 2    8   9  10  11
             right index 3   12  13  14  15
left index 1 right index 4   16  17  18  19
             right index 6   24  25  26  27
             right index 7   28  29  30  31
left index 2 right index 8   32  33  34  35
             right index 9   36  37  38  39
             right index 10  40  41  42  43
left index 3 right index 13  52  53  54  55
             right index 14  56  57  58  59
             right index 15  60  61  62  63




shuffle_group:
                             cat
first_idx    second_idx
left index 0 right index 3    A
left index 3 right index 13   D
left index 1 right index 7    B
left index 0 right index 2    A
left index 1 right index 6    B
left index 2 right index 10   C
left index 1 right index 4    B
left index 0 right index 1    A
left index 3 right index 14   D
left index 0 right index 0    A
left index 3 right index 15   D
left index 2 right index 9    C
             right index 8    C
left index 3 right index 12   D
left index 2 right index 11   C
left index 1 right index 5    B



split 4
                              a   b   c   d
first_idx    second_idx
left index 0 right index 0    0   1   2   3
             right index 1    4   5   6   7
             right index 2    8   9  10  11
left index 1 right index 4   16  17  18  19
             right index 5   20  21  22  23
             right index 6   24  25  26  27
left index 2 right index 8   32  33  34  35
             right index 9   36  37  38  39
             right index 11  44  45  46  47
left index 3 right index 12  48  49  50  51
             right index 14  56  57  58  59
             right index 15  60  61  62  63



split 5
                              a   b   c   d
first_idx    second_idx
left index 0 right index 0    0   1   2   3
             right index 1    4   5   6   7
             right index 3   12  13  14  15
left index 1 right index 4   16  17  18  19
             right index 5   20  21  22  23
             right index 7   28  29  30  31
left index 2 right index 8   32  33  34  35
             right index 10  40  41  42  43
             right index 11  44  45  46  47
left index 3 right index 12  48  49  50  51
             right index 13  52  53  54  55
             right index 15  60  61  62  63



split 6
                              a   b   c   d
first_idx    second_idx
left index 0 right index 0    0   1   2   3
             right index 2    8   9  10  11
             right index 3   12  13  14  15
left index 1 right index 5   20  21  22  23
             right index 6   24  25  26  27
             right index 7   28  29  30  31
left index 2 right index 9   36  37  38  39
             right index 10  40  41  42  43
             right index 11  44  45  46  47
left index 3 right index 12  48  49  50  51
             right index 13  52  53  54  55
             right index 14  56  57  58  59



split 7
                              a   b   c   d
first_idx    second_idx
left index 0 right index 1    4   5   6   7
             right index 2    8   9  10  11
             right index 3   12  13  14  15
left index 1 right index 4   16  17  18  19
             right index 6   24  25  26  27
             right index 7   28  29  30  31
left index 2 right index 8   32  33  34  35
             right index 9   36  37  38  39
             right index 10  40  41  42  43
left index 3 right index 13  52  53  54  55
             right index 14  56  57  58  59
             right index 15  60  61  62  63

<ipython-input-5-0bcbad84f294>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df[bool_idx])
<ipython-input-5-0bcbad84f294>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df[bool_idx])
<ipython-input-5-0bcbad84f294>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df[bool_idx])
<ipython-input-5-0bcbad84f294>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df[bool_idx])
<ipython-input-5-0bcbad84f294>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df[bool_idx])
<ipython-input-5-0bcbad84f294>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df[bool_idx])
<ipython-input-5-0bcbad84f294>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df[bool_idx])
<ipython-input-5-0bcbad84f294>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df[bool_idx])

In [6]:
assert False,'stop'

NameError: name 'STOP' is not defined

True

In [ ]:
print('original group\n',group)
for seed in range(2):
    shuf_grp=group.sample(frac=1,replace=False,random_state=seed)
    print('shuffled:\n',shuf_grp,'\n')
    for i in range(4):
        selector=list(range(4))
        selector.pop(i)
        print(f'drop {i}\n')
        grp=shuf_grp.groupby(by='cat').cumcount()
        #df_temp['group']=df_temp.groupby('e').cumcount()
        grp_bool=grp.map(lambda x:x in selector)
        df_i=df[grp_bool]
        print(df_i)
        n=group.shape[0]
        #print(df_temp[df_temp['group'].map(lambda x:x in selector)],'\n\n\n')

In [ ]:
"""for seed in range(2):
    df_temp=df.sample(frac=1,replace=False,random_state=seed)
    print('shuffled:\n',df_temp,'\n')
    for i in range(4):
        selector=list(range(4))
        selector.pop(i)
        print(f'drop {i}\n')
        df_temp['group']=df_temp.groupby('e').cumcount()
        print(df_temp[df_temp['group'].map(lambda x:x in selector)],'\n\n\n')"""

In [ ]:
df_g2=df_g.cumcount()
df_g2

In [ ]:
arr=np.asfortranarray(df.to_numpy)

In [ ]:
arr.flags['F_CONTIGUOUS']